.popup__close-button {
    width: 32px;
    height: 32px;
    background-color: black;
    background-image: url(../../../images/CloseIcon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border: none;
    cursor: pointer;
    padding: 0;
    top: -40px;
    right: -435px;
    transition: all 1s ease 0s;
}

.popup__close-button:hover {
    opacity: .6;
}



@media screen and (max-width: 845px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: -265px;
    }
}