.elements__element {
    width: 282px;
    height: 361px;
    border-radius: 10px;
    margin: auto;
    list-style-type: none;
}

@media screen and (max-width: 1279px) {
    .elements__element {
        margin: 0;
    }
}