.popup__close-button_ap {
    width: 90px;
    position: absolute;
    right: -70px;
}

@media screen and (max-width: 660px) {
    .popup__close-button_ap {
        top: 90px;
        right: -65px;
    }
}
    
