.header {
    width: 68.75%;
    margin: auto;
    margin-top: 0 auto;
    padding-top: 43px;
    border-bottom: solid 1px rgb(33%, 33%, 33%, .7);
}

@media screen and (max-width: 845px) {
    .header {
        width: 320px;
        padding-top: 28px;
    }
}