.elements__delete-button {
    display: none;
    position: absolute;
    margin: 20px 20px 242px 242px;
    width: 18px;
    height: 19px;
    background: none;
    cursor: pointer;
    border: none;
    background-image: url(../../../images/Trash.svg);
}

.elements__delete-button:hover {
    opacity: .5;
}